body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            background: #f0f0f0;
        }
        .project {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #insert {
            text-align: center;
        }
        .key {
            font-size: 2rem;
            color: #333;
            padding: 20px;
            border: 2px solid #333;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .color{
            font-size: 1.5rem;
            color: #333;
            padding: 20px;
            border: 2px solid #333;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        table{
            /* margin: 20px auto; */
            /* border: 0px 0px 2px solid #333; */
            border-collapse: collapse;
            padding: 10px;
        }